<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0" fileName="RoleLogging.log" footer="" formatter="One Line Formatter" header="" rollSizeKB="1000" timeStampPattern="yyyy-MM-dd HHmmss" maxArchivedFiles="100" traceOutputOptions="DateTime, ThreadId" />
      <add name="Verbose Rolling Logger" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="DetailedRoleLogging.log" footer="" timeStampPattern="yyyy-MM-dd HHmmss" formatter="One Line Formatter" header="" rollSizeKB="1000" maxArchivedFiles="250" traceOutputOptions="DateTime, ThreadId" filter="All" />
      <add name="Error Rolling Logger" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="error.log" footer="" timeStampPattern="yyyy-MM-dd HHmmss" formatter="One Line Formatter" header="" rollSizeKB="1000" maxArchivedFiles="250" traceOutputOptions="DateTime, ThreadId" filter="All" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0" template="{timestamp(O)} ({win32ThreadId}) - {category}: {message}" name="One Line Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="Information" name="General">
        <listeners>
          <add name="Rolling Flat File" />
          <add name="Verbose Rolling Logger" />
        </listeners>
      </add>
      <add switchValue="All" name="Verbose">
        <listeners>
          <add name="Verbose Rolling Logger" />
        </listeners>
      </add>
      <add switchValue="All" name="Information">
        <listeners>
          <add name="Rolling Flat File" />
          <add name="Verbose Rolling Logger" />
        </listeners>
      </add>
      <add switchValue="All" name="Warning">
        <listeners>
          <add name="Rolling Flat File" />
          <add name="Verbose Rolling Logger" />
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="Rolling Flat File" />
          <add name="Verbose Rolling Logger" />
          <add name="Error Rolling Logger" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category">
        <listeners>
          <add name="Verbose Rolling Logger" />
        </listeners>
      </notProcessed>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File" />
          <add name="Error Rolling Logger" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>